*{
    margin: 0;
    background-color: #fefae0;
}


div{
    margin: 5% ;
    text-align: center;
}

h1{
    padding-top: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    color: #d4a373;
}

ul{
    list-style-type: none;
}

li{
    margin: 5%;
    font-size: 2rem;
    font-weight: bolder;
    display: inline-block;
    background-color: #e9edc9;
    width: 35%;
    height: 250px;
    border-radius: 20%;
    padding: 50px 10px;
}

li a{
    color: #d4a373;
    text-decoration: none;
    background-color: #e9edc9;
}

img{
    display: block;
    border-radius: 100%;
    width: 200px;
    margin: auto;
    margin-bottom: 2rem;
}